.header {
    display: flex;
    justify-content: space-between;
    align-items: ;
    background-color: #F3CA52;
    padding: 10px 20px;
    margin: 0 auto;
  }
  
  .header-left {
    display: flex;
    align-items: center;
  }
  
  .header-logo {
    width: 120px; /* Adjusted the size for better proportion */
    height: 40px; /* Adjusted the size for better proportion */
    margin-right: 10px;
  }
  
  .header-title {
    font-size: 24px;
    font-weight: bold;
    color: black;
  }
  
  .header-nav {
    display: flex;
    align-items: center;
  }
  
  .header-link {
    margin: 0 15px;
    font-size: 18px;
    color: black;
    text-decoration: none;
  }
  
  .header-icons {
    display: flex;
    align-items: center;
  }
  
  .header-icon {
    font-size: 24px;
    margin-left: 20px;
    cursor: pointer;
  }
  