body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

form {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.general-info,
.ingredients,
.instructions {
  margin-bottom: 20px;
}

textarea,
input[type="text"],
input[type="number"],
select {
  width: calc(100% - 22px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

textarea {
  height: 100px;
}

.ingredient,
.instruction {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.ingredient input,
.ingredient select,
.instruction input {
  width: 48%;
}

label {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 14px;
}

button[type="submit"],
button[type="button"] {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #78c371;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  margin-bottom: 10px;
}

button[type="button"] {
  background-color: #5a9c53;
}

button[type="submit"]:hover {
  background-color: #68b361;
}

button[type="button"]:hover {
  background-color: #4a8c43;
}

.recipe-form-container {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 2fr; /* Two columns, left column 1 fraction, right column 2 fractions */
  gap: 120px; /* Space between columns */
}

.general-info {
  grid-column: 1 / 2; /* Span only the first column */
  width: 100%;
}

.ingredients-and-instructions {
  grid-column: 2 / 3; /* Span only the second column */
  width: 100%;
}

.ingredients,
.instructions {
  margin-bottom: 20px; /* Space between ingredients and instructions sections */
}

.instruction input {
  width: 100%;
}

.ingredient, .instruction {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.delete-button {
  margin-left: 10px;
  max-width: 12%;
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.general-info, .ingredients-and-instructions {
  margin: 0 auto;
  padding: 20px;
  background-color: #ffde59;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.anonymous-label {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

/* Media query for smaller screens */
@media (max-width: 600px) {
  .recipe-form-container {
    display: block; /* Stack vertically */
  }

  .general-info, .ingredients-and-instructions {
    width: 100%;
    margin-bottom: 20px;
  }
}

#addRecipe-delete-button {
  max-width: 12%;
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}
