/* General Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .landing-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    margin-top: -30px;
  }
  
  .hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px;
    background-color: #ffd700;
    width: 100%;
  }
  
  .hero img {
    max-height: 400px;
    margin-right: 60px;
  }
  
  .hero-text {
    margin-left: 60px;
  }
  
  .hero-text h1 {
    font-size: 48px;
    color: #333;
  }
  
  .hero-text h1 span {
    color: #ff4500;
  }
  
  .get-started-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #32cd32;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .hero-image img {
    max-width: 100%;
    height: auto;
  }
  
  .highlight-section {
    display: flex;
    align-items: center;
    padding: 60px;
    background-color: #f0f8ff;
    width: 100%;
  }
  
  .highlight-text {
    flex: 1;
    text-align: center;
    margin-right: 100px;
  }
  
  .highlight-images {
    flex: 1;
    margin-left: 200px;
  }
  
  .highlight-section h2 {
    font-size: 36px;
    color: #333;
  }
  
  .highlight-section h2 span {
    color: #ff4500;
  }
  
  .highlight-images img {
    max-height: 400px;
    max-width: 400px;
    height: auto;
    border-radius: 10px;
  }
  
  .filter-section {
    display: flex;
    align-items: center;
    padding: 60px;
    background-color: #fffacd;
    width: 100%;
  }
  
  .filter-section h2 {
    flex: 1;
    font-size: 36px;
    color: #333;
    text-align: center;
    margin-right: 60px;
    margin-left: 100px;
  }
  
  .filter-section h2 span {
    color: #32cd32;
  }
  
  .filter-container {
    flex: 1;
    display: flex;
    justify-content: center;
    margin-right: 120px;
  }
  
  .filter-container img {
    max-height: 400px;
    max-width: 400px;
    height: auto;
    border-radius: 10px;
  }
  
  .footer {
    display: flex;
    justify-content: space-around;
    padding: 40px;
    background-color: #ffd700;
    width: 100%;
  }
  
  .footer-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .footer-column h3 {
    margin-bottom: 10px;
  }
  
  .footer-column a {
    text-decoration: none;
    color: #333;
  }
  
  .footer-bottom {
    width: 100%;
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
  }
  